<footer class="text-white px-10 py-5 bg-gray-800 flex flex-col gap-5">
  <div class="flex justify-between">
    <div class="flex flex-col gap-1">
      <p class="text-xl">Nuestras redes sociales</p>
      <a class="flex items-center gap-1"><i class="pi pi-facebook"></i>Facebook</a>
      <a class="flex items-center gap-1"><i class="pi pi-instagram"></i>Instagran</a>
      <a class="flex items-center gap-1"><i class="pi pi-twitter"></i>Twitter</a>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-xl">Ubicacion</p>
      <p class="flex items-center gap-1"><i class="pi pi-home"></i>Huejutla de reyes Hidalgo, Calle Enriquez, 92145, Frente al reloj.</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-xl">Contacto</p>
      <ul>
        <li class="flex items-center gap-1"><i class="pi pi-envelope"></i>Correo: dioSolar123{{'@'}}gmail.com</li>
        <li class="flex items-center gap-1"><i class="pi pi-whatsapp"></i>Whatsapp: 7891200319</li>
        <li class="flex items-center gap-1"><i class="pi pi-phone"></i>Telefono: 7712451639</li>
      </ul>
    </div>
  </div>
  <div>
    <p class="text-center">&copy; 2023 Dio Solar Energy. All rights reserved.</p>
  </div>
</footer>
