<app-nav-bar></app-nav-bar>
<section>
  <div class="w-full bg-red-400 h-96 overflow-hidden flex items-center card">
    <img src="../../../../assets/img/logo_redondo.png" alt="logo" class="h-full opacity-75">
  </div>
</section>
<section>

  <div class="pr-10 my-5 flex justify-center">
    <div class="bg-gray-100 px-10 py-5 rounded-md w-3/5">
      <h2 class="font-semibold font-mono text-3xl text-center">Mision</h2>
      <p class="text-gray-500 text-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur autem
        adipisci distinctio dolorem dolore
        quibusdam quidem ratione, nemo voluptates, velit ipsam minus voluptate qui unde quod? Et ea asperiores
        nostrum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt nisi enim ducimus, odit veritatis incidunt
        maxime
        earum ipsa corporis natus neque id cupiditate cumque qui quam. Eveniet, dolor inventore.
      </p>
    </div>
  </div>
  <div class="pr-10 my-5 flex justify-center">
    <div class="bg-gray-100 px-10 py-5 rounded-md w-3/5">
      <h2 class="font-semibold font-mono text-3xl text-center">Vision</h2>
      <p class="text-gray-500 text-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur autem
        adipisci distinctio dolorem dolore
        quibusdam quidem ratione, nemo voluptates, velit ipsam minus voluptate qui unde quod? Et ea asperiores
        nostrum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt nisi enim ducimus, odit veritatis incidunt
        maxime
        earum ipsa corporis natus neque id cupiditate cumque qui quam. Eveniet, dolor inventore.
      </p>
    </div>
  </div>
  <div class="pr-10 my-5 flex justify-center">
    <div class="bg-gray-100 px-10 py-5 rounded-md w-3/5">
      <h2 class="font-semibold font-mono text-3xl text-center">Valores</h2>
      <ul class="text-gray-500 list-disc text-xl">
        <li>Honestidad</li>
        <li>Respeto</li>
        <li>Amabilidad</li>
        <li>Liderezgo</li>
        <li>Apoyo</li>
      </ul>
    </div>
  </div>
</section>
<hr class="my-5 bg-gray-200 h-0.5 border-0">
<section class="flex flex-col items-center my-5 gap-5">
  <div class="w-4/5 flex flex-col gap-3">
    <h3 class="text-center font-semibold text-3xl">Objetivo general</h3>
    <p class="text-xl text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum enim velit
      corporis obcaecati ratione
      eius dolorum aliquam, ab impedit vero delectus perspiciatis animi vitae, earum temporibus quos, recusandae facere.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque quaerat tenetur placeat sint, vero
      laudantium, dolorum excepturi eos quibusdam porro modi dolores. Mollitia recusandae laboriosam nobis, consequatur
      ea ratione. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam soluta aut expedita distinctio
      inventore quo eveniet obcaecati impedit excepturi beatae fugiat nesciunt reprehenderit vero itaque amet quia iure,
      repellendus laboriosam!</p>
  </div>
  <div class="w-4/5 flex flex-col gap-3">
    <h3 class="text-center font-semibold text-3xl">Objetivos especificos</h3>
    <ul class="list-disc text-gray-500 text-xl flex flex-col gap-3">
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>
  </div>
</section>
<hr class="my-5 bg-gray-200 h-0.5 border-0">
<section class="mx-10 my-5">
  <h4 class="text-center text-3xl font-semibold mb-5">Nuestros sistemas</h4>
  <div class="grid grid-cols-3 gap-10">

    <div class="bg-white rounded-sm py-5 cursor-pointer container-system">
      <div class="flex justify-center">
        <div class="w-5/6 h-56 overflow-hidden rounded-sm">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Fixed_Tilt_Solar_panel_at_Canterbury_Municipal_Building_Canterbury_New_Hampshire.jpg"
            alt="Sistema solar" class="object-cover imgHome rounded-sm">
        </div>
      </div>
      <h3 class="text-center text-2xl font-semibold font-mono text-gray-600">Sistema solar</h3>
      <p class="text-gray-500 text-md px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
        eaque quaerat tenetur placeat sint...</p>
    </div>
    <div class="bg-white rounded-sm py-5 cursor-pointer container-system">
      <div class="flex justify-center">
        <div class="w-5/6 h-56 overflow-hidden rounded-sm">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Fixed_Tilt_Solar_panel_at_Canterbury_Municipal_Building_Canterbury_New_Hampshire.jpg"
            alt="Sistema solar" class="object-cover imgHome rounded-sm">
        </div>
      </div>
      <h3 class="text-center text-2xl font-semibold font-mono text-gray-600">Sistema solar</h3>
      <p class="text-gray-500 text-md px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
        eaque quaerat tenetur placeat sint...</p>
    </div>
    <div class="bg-white rounded-sm py-5 cursor-pointer container-system">
      <div class="flex justify-center">
        <div class="w-5/6 h-56 overflow-hidden rounded-sm">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Fixed_Tilt_Solar_panel_at_Canterbury_Municipal_Building_Canterbury_New_Hampshire.jpg"
            alt="Sistema solar" class="object-cover imgHome rounded-sm">
        </div>
      </div>
      <h3 class="text-center text-2xl font-semibold font-mono text-gray-600">Sistema solar</h3>
      <p class="text-gray-500 text-md px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
        eaque quaerat tenetur placeat sint...</p>
    </div>

  </div>
</section>
<hr class="my-5 bg-gray-200 h-0.5 border-0">
<section class="bg-gray-100 py-5">
  <h5 class="text-center font-semibold text-3xl mb-5">Cotizaciones</h5>
  <div class="flex justify-center">
    <form class="w-2/5 flex flex-col gap-5">
      <div class="flex flex-col">
        <label
          class="text-lg text-gray-700 text-center bg-white p-20 rounded-lg border-dashed border-2 border-blue-500 cursor-pointer"
          for="imagen">Ingrese una foto de su ultimo recibo de luz</label>
        <input type="file" id="imagen" accept="image/*" hidden>
      </div>
      <div class="flex flex-col">
        <label for="total" class="text-lg text-gray-700 font-bold">Ingrese el total del pago del recibo(Mensual
          bimestral)</label>
        <input id="total" type="number" class="rounded-md">
      </div>
      <div class="flex justify-center">
        <button (submit)="true" class="bg-green-500 hover:bg-green-600 text-white font-bold rounded-sm py-2 px-3">Obtener cotizacion</button>
      </div>
    </form>
  </div>
</section>
<hr class="my-5 bg-gray-200 h-0.5 border-0">
<section class="my-5">
  <h6 class="text-3xl font-semibold text-center mb-5">Preguntas frecuentes</h6>
  <div class="flex justify-center">
    <div class="w-3/5 text-xl flex flex-col gap-3">
      <h3 class="text-gray-900 font-semibold">¿Como funciona la cotización?</h3>
      <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, voluptatum commodi
        necessitatibus veniam architecto asperiores distinctio quaerat repellendus tenetur quidem
        quia nisi doloribus reprehenderit, alias delectus.</p>
      <h3 class="text-gray-900 font-semibold">¿Como hago una cotizacion?</h3>
      <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, voluptatum commodi
        necessitatibus veniam architecto asperiores distinctio quaerat repellendus tenetur quidem
        quia nisi doloribus reprehenderit, alias delectus.</p>
      <h3 class="text-gray-900 font-semibold">¿Que es un panel solar?</h3>
      <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, voluptatum commodi
        necessitatibus veniam architecto asperiores distinctio quaerat repellendus tenetur quidem
        quia nisi doloribus reprehenderit, alias delectus.</p>
      <h3 class="text-gray-900 font-semibold">¿Como funciona un panel solar?</h3>
      <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, voluptatum commodi
        necessitatibus veniam architecto asperiores distinctio quaerat repellendus tenetur quidem
        quia nisi doloribus reprehenderit, alias delectus.</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
